#top-tag h2 {
    margin-top: -50px; /* Ajuste para que o título fique mais perto do banner */
    background-color: #890004; /* Personalize a cor de fundo */
    color: white; /* Cor do texto */
    padding: 75px 30px 10px; /* Ajuste o padding conforme necessário */
    border-radius: 25px; /* Bordas arredondadas */
    font-family: Grold;
    font-size: 47.59px;
    font-weight: 400;
    line-height: 41.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

a{
    text-decoration: none;
}


#area-aluno h1{
    color: #1A2352;
    font-family: Grold;
    font-size: 36px;
    font-weight: 400;
    line-height: 25.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#area-aluno p{
    color: #1A2352;
    font-family: Grold;
    font-size: 25.99px;
    font-weight: 400;
    line-height: 25.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


#area-aluno button{
    background-color: #890004!important;
    color: #FFFFFF;
    font-family: Grold;
    font-size: 38px;
    font-weight: 400;
    line-height: 36.63px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 24px auto;
    width: 535px;
    height: 68px;
    border-radius: 34px;    
}

#area-aluno .card{
    border-radius:20px ;
    background-color: #1A2352;
    color: #FFFFFF;
    min-height: 100px;
    text-transform: uppercase;
}

#area-aluno .card p{
    padding-left: 20px;
    color: #FFFFFF;
}

#area-aluno .icon-small {
    width: 40px;
    height: 40px;
    text-align: left;
}
#area-aluno i{
    width: auto;
    height: 35px;
}

#area-aluno .fundo-branco{
    background: #FFFFFF;
}

#area-aluno .row{
    padding: 0;
    margin: 0;
}


#area-aluno .col-12{
    padding: 20px;
}

#title-area-aluno p{
    text-align: center!important;
}

#area-aluno .container{
    max-width: 100%;
}

.modal .card{
    background: #FFFFFF;
    min-height: 120px;
    border-radius: 17px;
}

.card-body h3 {
    background: #A40206;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 15px;;
}

.card-body p{
    color: #1A2352;
    font-family: Grold;
    font-size: 23px;
    font-weight: 900;
    line-height: 27px;
}

.card-body p img{
    height: 30px;
    width: 30px;
}
@media (min-width: 575.98px){
    #text-reciclage{
        padding: 0 230px;
    }

    #title-area-aluno{
        padding: 20px 100px;
    }
}

@media (max-width: 575.98px){
    #area-aluno button{
        width: 75%;
        font-size: 3vw;
    }
    #area-aluno button .icon-small {
        width: 25px;
        height: 25px;
        text-align: left;
    }
    #top-tag h2 {     
        font-size: 23.59px;
    }

    #area-aluno h1{
        font-size: 18px;    
    }
    
    #area-aluno .card-text{
        font-size: 2.5vw;       
    }
    
    #area-aluno img{
        width: auto;
        height: 20px;
    }
    #area-aluno i{
        width: auto;
        height: 15px;
    }

    #area-aluno .col-6{
        padding: 0 5px 0 0;
    }

    #area-aluno .container{
        padding: 3px;
    }
}