#top-tag h2 {
    margin-top: -50px; /* Ajuste para que o título fique mais perto do banner */
    background-color: #890004; /* Personalize a cor de fundo */
    color: white; /* Cor do texto */
    padding: 75px 30px 10px; /* Ajuste o padding conforme necessário */
    border-radius: 25px; /* Bordas arredondadas */
    font-family: Grold;
    font-size: 47.59px;
    font-weight: 400;
    line-height: 41.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#contato h1{
    color: #1A2352;
    font-family: Grold;
    font-size: 36px;
    font-weight: 400;
    line-height: 25.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#contato p{
    color: #1A2352;
    font-family: Grold;
    font-size: 25.99px;
    font-weight: 400;
    line-height: 25.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


#contato button{
    background-color: #1A2352!important;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 24px auto;
    width: 318px;
    height: 70px;
    border-radius: 61px;


}

#contato .card{
    border-radius:20px ;
    background-color: #1A2352;
    color: #FFFFFF;
    min-height: 100px;
}

#contato .card p{
    padding-left: 20px;
    color: #FFFFFF;
}

#contato .icon-small {
    width: 40px;
    height: 40px;
    text-align: left;
}
#contato i{
    width: auto;
    height: 35px;
}

#contato .fundo-branco{
    background: #FFFFFF;
}

#contato .row{
    padding: 0;
    margin: 0;
}


#contato .col-12{
    padding: 20px;
}

#title-contato p{
    text-align: center!important;
}

@media (min-width: 575.98px){
    #text-reciclage{
        padding: 0 230px;
    }

    #title-contato{
        padding: 20px 100px;
    }
}

@media (max-width: 575.98px){
    #contato button{
        width: 75%;
    }
    #top-tag h2 {     
        font-size: 23.59px;
    }

    #contato h1{
        font-size: 18px;    
    }
    
    #contato p{
        font-size: 25px;       
    }
    
    #contato img{
        width: auto;
        height: 20px;
    }
    #contato i{
        width: auto;
        height: 15px;
    }

    #contato .col-12{
        padding: 0;
    }
}