#top-title h2 {
    margin-top: -50px; /* Ajuste para que o título fique mais perto do banner */
    background-color: #890004; /* Personalize a cor de fundo */
    color: white; /* Cor do texto */
    padding: 75px 30px 25px; /* Ajuste o padding conforme necessário */
    border-radius: 40px; /* Bordas arredondadas */
    font-family: Grold;
    font-size: 3vw;
    font-weight: 300;
    line-height: 41.25px;
    text-align: center;
    text-underline-position: from-font;
    margin-bottom: 50px;
  }

  #top-title h2 strong{
    font-weight: 700;
  }


/* Garantir que as colunas tenham a mesma altura */
#estrutura .row.d-flex.align-items-stretch {
    display: flex;
    align-items: stretch; /* Certifica-se de que as colunas tenham a mesma altura */
}

/* Estilo da lista */
#estrutura ul {
    background: #FFFFFF;
    color: #1A2352;
    border-radius: 27.85px 0 0 27.85px;
    font-family: Grold;
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    height: 100%;  /* Garantir que ocupe toda a altura da coluna */
    width: 100%;
    padding-top: 12.5%;
    margin-left: 15%;
    padding-left: 20px;
    list-style-type: none; 
}

#estrutura li {
    padding-left: 32px; /* Adiciona o espaçamento desejado */
    position: relative; /* Necessário para usar ::before */
}

#estrutura li::before {
    content: "."; /* Adiciona o marcador */
    position: absolute;
    left: 0; /* Garante que o marcador esteja alinhado à esquerda */
    font-size: 20px; /* Tamanho do marcador */
    color: black; /* Cor do marcador */
}

/* Garantir que o conteúdo dentro da coluna da esquerda fique centralizado */
#estrutura .col-md-7 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza a lista verticalmente */
    align-items: center; /* Alinha a lista horizontalmente */
}

/* Garantir que o carousel ocupe toda a altura disponível */
#carouselestrutura {
    height: 100%;
}

#carouselestrutura .carousel-inner {
    height: 100%;
}

#carouselestrutura .carousel-item img {
    object-fit: cover;
    height: 100%;
}

#estrutura .col-12{
    padding: 0;
}

#estrutura a{
    background-color: #1A2352!important;
    color: #FFFFFF;
    border-radius: 25px;
    font-family: Grold;
    font-weight: 300;
    line-height: 18.14px;
    letter-spacing: -0.04em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 24px auto;
    font-size: 2.5vw;
    width: 33%;
    padding: 15px;
}

@media (min-width: 575.98px){
    #estrutura .fundo-elemento{
        background: #FFFFFF;
        border-radius: 27.85px;
    }
}

@media (max-width: 575.98px){
    #estrutura{
        margin: 0 25px 0 25px;
    }
    #estrutura ul {
        margin-bottom: 5px;
        border-radius: 27.85px;
    }
    #estrutura a{
        width: 75%;
        font-size: 20px;
    }
}