#top-tag h2 {
    margin-top: -50px; /* Ajuste para que o título fique mais perto do banner */
    background-color: #890004; /* Personalize a cor de fundo */
    color: white; /* Cor do texto */
    padding: 75px 30px 10px; /* Ajuste o padding conforme necessário */
    border-radius: 25px; /* Bordas arredondadas */
    font-family: Grold;
    font-size: 47.59px;
    font-weight: 400;
    line-height: 41.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


#primeirahabilitacao .container {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

#primeirahabilitacao .introducao{
    font-family: Grold;
    font-size: 2.5vh;
    font-weight: 400;
    line-height: 25.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1A2352;
    padding: 1% 10%;

}

#primeirahabilitacao .card-aula{
    padding: 5% 5%;
}

#primeirahabilitacao .card-aula h1{
    font-family: Grold;
    font-size: 60.28px;
    font-weight: 400;
    line-height: 42.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1A2352;
    margin: auto;
}

#primeirahabilitacao .card-aula p{
    font-family: Grold;
    font-size: 25.99px;
    font-weight: 400;
    line-height: 25.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1A2352;
    margin: auto;
}

#primeirahabilitacao .card-aula .col-4{
   padding-left:20%;
}
#primeirahabilitacao .card-aula .col-8{
    padding-left: 5%;
   padding-right: 10%;
}

#primeirahabilitacao .card{
    background: #1A2352;
    color: #FFFFFF;
    border-radius: 20px;
}

#primeirahabilitacao .card i{
    width: auto;
    height: 25px;
    padding-right: 5px;
    font-size: 2.5rem;
}
#primeirahabilitacao .card img{
    width: auto;
    height: 2.5rem;
    padding-right: 5px;
}
#primeirahabilitacao .card p{
    color: #FFFFFF;
    font-family: Grold;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

#primeirahabilitacao .card-body{
  
}

#primeirahabilitacao a{
    background-color: #1A2352!important;
    color: #FFFFFF;
    border-radius: 17.79px;
    font-family: Grold;
    font-weight: 400;
    line-height: 18.14px;
    letter-spacing: -0.04em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 24px auto;
    font-size: 40px;
    width: 33%;
    padding: 15px;
}


@media (min-width: 575.98px){
    
    #primeirahabilitacao .card{
        min-height: 150px;
    }
}

@media (max-width: 575.98px){
    #top-tag h2{
        font-size: 5vw;
    }

    #primeirahabilitacao{
        margin: 0 25px 0 25px;
    }
    
    #primeirahabilitacao a{
        width: 75%;
        font-size: 25px;
    }

    #primeirahabilitacao .card-aula h1{
        font-size: 25.28px;
        padding-top: 30px; 
        margin: auto;
    }
    
    #primeirahabilitacao .card-aula p{
        font-size: 14.99px;
    }

    #primeirahabilitacao .card-aula .col-4{
        padding:0;
     }
     #primeirahabilitacao .card-aula .col-8{
        padding: 0;
     }
     #primeirahabilitacao .card i:before{
        width: 45px;
        height: 45px;
    }

    #primeirahabilitacao .card i{
        font-size: 45px;
    }
    #primeirahabilitacao .card p{
        font-size:14px;
        margin-left: 20px;
    }

    #primeirahabilitacao .card{
        margin-bottom: 5px;
        min-height: 100px;
    }

    #primeirahabilitacao .card-body{
        padding: 6px 15px;
    }

    .icon-container {
        width: 50px; /* Define um espaço fixo para o ícone */
        text-align: center; /* Centraliza o ícone dentro do container */
        margin-right: 10px; /* Espaço entre o ícone e o texto */
    }
}