#top-tag h2 {
    margin-top: -50px; /* Ajuste para que o título fique mais perto do banner */
    background-color: #890004; /* Personalize a cor de fundo */
    color: white; /* Cor do texto */
    padding: 75px 30px 10px; /* Ajuste o padding conforme necessário */
    border-radius: 25px; /* Bordas arredondadas */
    font-family: Grold;
    font-size: 3vw;
    font-weight: 400;
    line-height: 41.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#reciclagem h1{
    color: #1A2352;
    font-family: Grold;
    font-size: 2.8vw;
    font-weight: 400;
    line-height: 25.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#reciclagem p{
    color: #1A2352;
    font-family: Grold;
    font-size: 2vw;
    font-weight: 400;
    line-height: 25.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


#reciclagem a{
    background-color: #1A2352!important;
    color: #FFFFFF;
    border-radius: 17.79px;
    font-family: Grold;
    font-weight: 400;
    line-height: 18.14px;
    letter-spacing: -0.04em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 24px auto;
    font-size: 2.5vw;
    width: 33%;
    padding: 15px;
}

#reciclagem .card{
    border-radius:20px ;
    background-color: #1A2352;
    color: #FFFFFF;
    min-height: 100px;
}

#reciclagem .card-body p{
    padding-left: 20px;
    color: #FFFFFF;
    font-size: 1.8vw;
}

#reciclagem img{
    width: auto;
    height: 35px;
}
#reciclagem i{
    width: auto;
    height: 35px;
}

#reciclagem .fundo-branco{
    background: #FFFFFF;
}

#reciclagem .container{
    padding: 0;
    margin: 0;
    max-width: 100%;
}

#reciclagem .row{
    padding: 0;
    margin: 0;
}


#reciclagem .col-12{
    padding: 20px;
}

#reciclagem .col-md-5{
    padding: 0!important;
}

@media (min-width: 575.98px){
    #text-reciclage{
        padding: 0 230px;
    }

    #title-reciclagem{
        padding: 20px 100px;
    }
}

@media (max-width: 575.98px){
    #reciclagem a{
        width: 75%;
        font-size: 23px;
    }
    #top-tag h2 {     
        font-size: 23.59px;
    }

    #reciclagem h1{
        font-size: 18px;    
    }
    
    #reciclagem p{
        font-size: 15px;       
    }
    
    #reciclagem img{
        width: auto;
        height: 20px;
    }
    #reciclagem i{
        width: auto;
        height: 15px;
    }

    #reciclagem .col-md-5{
        margin-top: 8px;
    }

    #reciclagem .card-body p{
        font-size: 3vw;
    }
}