#top-tag h2 {
    margin-top: -50px; /* Ajuste para que o título fique mais perto do banner */
    background-color: #890004; /* Personalize a cor de fundo */
    color: white; /* Cor do texto */
    padding: 75px 30px 10px; /* Ajuste o padding conforme necessário */
    border-radius: 25px; /* Bordas arredondadas */
    font-family: Grold;
    font-size: 47.59px;
    font-weight: 400;
    line-height: 41.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#treinamento h1{
    color: #1A2352;
    font-family: Grold;
    font-size: 36px;
    font-weight: 400;
    line-height: 25.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#treinamento p{
    color: #1A2352;
    font-family: Grold;
    font-size: 25.99px;
    font-weight: 400;
    line-height: 25.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


#treinamento a{
    background-color: #1A2352!important;
    color: #FFFFFF;
    border-radius: 17.79px;
    font-family: Grold;
    font-weight: 400;
    line-height: 18.14px;
    letter-spacing: -0.04em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 24px auto;
    font-size: 40px;
    width: 33%;
    padding: 15px;
}

#treinamento .card{
    border-radius:20px ;
    background-color: #1A2352;
    color: #FFFFFF;
    min-height: 100px;
}

#treinamento .card p{
    padding-left: 20px;
    color: #FFFFFF;
}

#treinamento img{
    width: auto;
    height: 35px;
}
#treinamento i{
    width: auto;
    height: 35px;
}

#treinamento .fundo-branco{
    background: #FFFFFF;
}

#treinamento .row{
    padding: 0;
    margin: 0;
}


#treinamento .col-12{
    padding: 20px;
}


@media (min-width: 575.98px){
    #text-reciclage{
        padding: 0 230px;
    }

    #title-treinamento{
        padding: 20px 100px;
    }
}

@media (max-width: 575.98px){
    #treinamento a{
        width: 75%;
        font-size: 23px;
    }
    #top-tag h2 {     
        font-size: 4vw;
    }

    #treinamento h1{
        font-size: 18px;    
    }
    
    #treinamento p{
        font-size: 13px;       
    }
    
    #treinamento img{
        width: auto;
        height: 20px;
    }
    #treinamento i{
        width: auto;
        height: 15px;
    }
}